@charset "utf - 8";

/* Fonts */

@font-face {
    src: url("./fonts/Montserrat/Montserrat-Regular.ttf");
    font-family: "Mont";
}

body {
    font-family: "Mont";
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    overflow: auto;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

.modal-window {
    position: relative;
    background-color: #efe5c8;
    width: 50%;
    margin: 10% auto;
    padding: 20px;
    border-radius: 1em;
}

.modal-window.small {
    width: 30%;
}

.modal-window.large {
    width: 75%;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.3);
    height: 30px;
    width: 30px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
}

.close:hover,
.close:focus {
    color: #000000;
    cursor: pointer;
}

.open {
    display: block;
}

#country_list {
    border: 1px solid black;
    border-collapse: collapse;
}

#country_list tr td {
    border: 1px solid black;
}

#country_list td {
    padding: 8px;
}

#country_list thead td {
    font-weight: bold;
    color: rgb(211, 119, 119);
    font-size: larger;
}

.mainContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.country_title:hover {
    font-weight: bold;
    color: blue;
    cursor: pointer;
}

.contentM {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.small-margin {
    margin: 5px
}

.no-margin {
    margin: 0;
    margin-right: 2px;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.buttonC {
    margin-top: 1rem;
}

.buttonG {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #60a3bc;
    padding: 20px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    cursor: pointer;
    outline: transparent;
}

.buttonG:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
}